<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Food List</title>
</head>
<body>
    <ul>
        <li>Burger</li>
        <li>Pizza</li>
        <li>Poutine</li>
        <li>Tacos</li>
        <li>Fries</li>
    </ul>

</body>
</html>