<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sports List</title>
</head>
<body>
    <ul>
        <li>Swimming</li>
        <li>Cycling</li>
        <li>Racing</li>
        <li>Skiing</li>
        <li>Football</li>
    </ul>
</body>
</html>