<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tech List</title>
</head>
<body>
    <ul>
        <li>Laptop</li>
        <li>SmartPhone</li>
        <li>Headphones</li>
        <li>Speaker</li>
        <li>Airpods</li>
    </ul>
</body>
</html>